button{
    color:rgb(14, 14, 14);
    background-color: whitesmoke;
    width: 100px;
    height: 50px; 
    border: 2px solid rgb(14, 14, 14);
    border-radius: 8px;
    font-size: medium;
    margin-left: 10px;
}